/* Universal Styles */

html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    
}

body {
    line-height: 1.4;
}

/* Header Section */

header {
    height: 4rem;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
}

 header nav {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

header nav div {
    display: flex;
    align-items: center;
}

header nav div span {
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: #CDCDCD;
}

header nav div span strong {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

header nav li {
    display: inline;
    padding: 0 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1rem;
}

.truncated-menu {
    display: none;
}

@media only screen and (max-width: 750px) {

    .logo-txt {
        display: none;
    }
    .menu {
        display: none;
    }
    .truncated-menu {
        display: flex;
        color: black;
        max-width: 750px;
        margin: 0 auto;
    }
}

/* Banner Section */

.banner {
    position: relative;
    top: 5rem;
    display: flex;
    flex: row wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    background-color: #CDCDCD;
    padding: 2rem 1.5rem;
}

.banner img {
    width: 60%;
    height: auto;
}

.banner-txt {
    width: 40%;
    text-align: left;
    padding: 2rem 1.5rem;
}

.banner-txt h1 {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.banner-txt h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.banner-txt button {

    padding: 0.5rem 2rem;
    background-color: #3E403E;
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    width: 100%;
    border-radius: 10px;
    transition: all 1s;
}

.banner-txt button:hover {
    background-color: azure;
    color: #3E403E;
}

@media only screen and (max-width: 750px) {
    .banner {
        position: relative;
        top: 5rem;
        display: block;
        margin: 0;
        padding: 0;
    }

    .banner img {
        width: 100%;
    }

    .banner-txt {
        width: auto;
        text-align: center;
        padding: 2rem 1rem;
    }

    .banner-txt h1 {
        font-size: 1.5rem;
    }

    .banner-txt h2 {
        font-size: 1rem;
    }
}

/* Info Section */

.info {
    position: relative;
    top: 5rem;
    display: flex;
    padding: 2rem 1.5rem;
}

.info-left {
    width: 60%;
    padding-right: 1.5rem;
}

.info-left img {
    width: 100%;
}

.info-left h2{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 2rem;
}

.info-left p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    padding: 1rem 0rem;
}

.info-right {
    width: 40%;
    height: auto;
}

.info-right-top-mobile, .info-right-middle-mobile, .info-right-bottom-mobile{
    display: none;
}

.info-right-top, .info-right-middle, .info-right-bottom {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem 1rem;
}

.info-right-top img, .info-right-middle img, .info-right-bottom img{
    width: 35%;
    height: 35%;
}

.info-right-top-txt, .info-right-middle-txt, .info-right-bottom-txt {
    text-align: center;
    padding: 1rem 1rem;
}

.info-right-top-txt h3, .info-right-middle-txt h3, .info-right-bottom-txt h3{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 1rem;
}

.info-right-top-txt p, .info-right-middle-txt p, .info-right-bottom-txt p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.info-right-top-txt span, .info-right-middle-txt span, .info-right-bottom-txt span {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color: blue;
}

.info-right-top, .info-right-middle, .info-right-bottom{
    background-color:  #CDCDCD;
    transition: background-color 1s linear .2s;
}

.info-right-top:hover, .info-right-middle:hover, .info-right-bottom:hover{
    background-color:  white;
}

@media only screen and (max-width: 750px) {
    .info-left{
        display: none;
    }

    .info-right {
        width: 100%;
    }

    .info-right-top, .info-right-middle, .info-right-bottom {
        display: block;
    }

    .info-right-top-desktop, .info-right-middle-desktop, .info-right-bottom-desktop {
        display: none;
    }

    .info-right-top-mobile, .info-right-middle-mobile, .info-right-bottom-mobile {
        display: block; 
    }
    .info-right-top img, .info-right-middle img, .info-right-bottom img {
        width: 100%;
        height: auto;
    }
}

/* Courses Section */

.courses-section {
    background-color: #CDCDCD;
    position: relative;
    top: 4rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
}

.courses-section h1 {
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.courses {
    max-width: 100%;
    margin: 0 auto;
}

.courses-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.courses-box {
    height: 22rem;
    -ms-flex: auto;
    width: 18rem;
    min-width: 16rem;
    margin: 0.5rem;
    box-sizing: border-box;
    background-color: white;
    color: #3E403E;
    transition: all 1s linear 0.1s; 
}

.courses-box:hover {
    background-color: #3E403E;
    color: white;
}

.courses-box img{
    width: 100%;

}

.courses-box h3 {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 1rem;
}

.courses-box p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
}
@media only screen and (max-width: 750px) {
    .courses-box img, .courses-box p {
        display: none;
    }
    .courses-box {
        width: 100%;
        height: auto;
    }
}

/* Thesis Section */

.thesis-section{
    position: relative;
    top: 4rem;
    padding-bottom: 2rem;
}

.thesis-container {
    display: flex;
}

.thesis-section h1{
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem 0;
}

.thesis-left {
    width: 60%;
    padding: 0 1.5rem;
}

.thesis-left video {
    width: 100%;
}

.thesis-left h2{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 2rem;
}

.thesis-left p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    padding: 1rem 0rem;
}

.thesis-right {
    width: 40%;
    height: auto;
    padding: 0 1.5rem;
}

.thesis-right-top, .thesis-right-bottom {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem 1rem;
}
.thesis-right-top img, .thesis-right-bottom img{
    width: 35%;
    height: 35%;
}

.thesis-right-top-txt, .thesis-right-bottom-txt {
    text-align: center;
    padding: 1rem 1rem;
}

.thesis-right-top-txt h3, .thesis-right-bottom-txt h3{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 1rem;
}

.thesis-right-top-txt p, .thesis-right-bottom-txt p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}
.thesis-right-top-txt span, .thesis-right-bottom-txt span {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color: blue;
}
.thesis-right-top, .thesis-right-bottom{
    background-color:  #CDCDCD;
    transition: background-color 1s linear .1s;
}
.thesis-right-top:hover, .thesis-right-bottom:hover{
    background-color:  white;
}
@media only screen and (max-width: 750px) {
    .thesis-right {
        display: none;
    }

    .thesis-left h2, .thesis-left p {
        display: none
    } 

    .thesis-left {
        width: 100%;
    }
}

/* Footer Section */

footer {
    position: relative;
    top: 4rem;
}

footer nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
}

footer .menu {
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1rem;
}

footer nav div {
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1rem;
}

